/*
td {
  border: 1px solid black;
}
td > div {
  width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
*/

img.top-logo {
  float: left;
  margin: 1.09em 0.67em 0 0;
  padding-right: 0;
}

.add-top-padding {
  margin-top: 10rem;
}
.add-top-padding-2 {
  margin-top: 2rem;
}
.add-top-padding-5 {
  margin-top: 5rem;
}
.add-bottom-padding-5 {
  margin-bottom: 5rem;
}
.nav-button {
  /*align: center;*/
  margin:auto;
  display:block;

  background-color: transparent;
  color: black;
  border-color: black;

  font-size: 1rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;

  /*width:16rem;*/
}
span.poolname {
  /*text-align:center;*/

  display:inline-block;
  /*background-color: lightblue;*/
  padding: 0px;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 3px;
  font-weight: 200;
  color: #454d54;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.nav {
  display: inline;
  white-space: nowrap;
}
#navigation li + li:before {
  /*content: " | ";*/
  content: " ";
  /*padding-right: 1rem;*/
  padding-left: 2rem;
}

i.navicon {
  font-size: 1.5em;
  vertical-align: middle;
  padding-right: 0.25rem;
}
i.helpicon {
  font-size: 1em;
  vertical-align: text-bottom;
  margin-left: 10;
}


/*
div {
  outline: 1px solid white;
}
*/

/* mining calculator */
input#hashrateField, 
input#poolFeeField,
input#mintFailureRateField {
  width:10rem;
  float:left;
}
select#unitField {
  width:8rem;
  float:left;
}
/*
input#poolFeeField {
  padding-right:20px;
}
*/
input {
  text-align:right;
}
label {
  clear: left;
}
a#currentDiffButton {
  margin: 5px;
  left: 0px;
}
a#nextDiffButton {
  margin: 5px;
  /*right: 0px;*/
}

/* use milligram fonts in jqMath equations */
fmath {
  font-family: inherit;
}

/* deprecated, would be nice to use */
.poolcolor-orange { color: #FF6C04 }
.poolcolor-purple { color: #671CFF }
.poolcolor-blue   { color: #A7FFEB }
.poolcolor-green  { color: #CCFF90 }
.poolcolor-yellow { color: #FFEE58 }

