/* Include this stylesheet after Milligram or merge it with your main.css */

/* based heavily on dark2.css from milligram-themes */

body {
    background: #202226;
    color: #f2f2f2;
}

.navigation .title, .navigation-title {
    color: #f2f2f2;
}

.navigation {
    background: #34373C;
    border-bottom: .1rem solid #1B1C1D;
}

.header {
    background-color: #141518;
}

pre {
    background: #141518;
}

.prettyprint {
    color: #f2f2f2;
}

.prettyprint.lang-md * {
    color: #f2f2f2 !important;
}

code {
    background: #141518;
}

.prettyprint .atv {
    color: rgba(73, 158, 223, 1);
}

/* custom values */
a {
  color: #cc66ff;
  text-decoration: none;
}
a:focus, a:hover {
  color: hsl(276, 50%, 39%);
}


th,
td {
    border-bottom: 0.1rem solid rgba(97, 97, 97, 1);
}


span.poolname {
  color: #F2F2F2;
}

.poolcolor-orange { background-color: #E65100 }
.poolcolor-purple { background-color: #4527A0 }
.poolcolor-blue   { background-color: #0277BD }
.poolcolor-green  { background-color: #2E7D32 }
.poolcolor-yellow { background-color: #997500 }